# Default ignored files
build/
pubspec.lock
.dart_tool
.idea
.flutter-*
.packages
.vscode/
lib/data/entities/base_vo.g.dart

ios/.*
ios/Podfile.lock
ios/Pods
ios/Runner/GeneratedPluginRegistrant.* 
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.*
ios/Flutter/Generated.*
ios/Runner.xcworkspace/xcuserdata/*
ios/Runner/GoogleService-Info.plist

android/.*
android/**/GeneratedPluginRegistrant.java
android/app/src/main/java
android/*.jks
android/gradle/wrapper
android/gradlew
android/gradlew.bat
android/app/src/debug
android/app/src/profile
/android/app/prod/release/
/android/app/staging/release/
